/*{
    border: 1px;
    border-color: red;
    border-style: solid;
}
*/

header,
footer {
    background-color: #1F2937;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p,
li {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

/*The above CSS is what's given to us in the guide*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/*The below CSS is for the hero and header section*/

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    gap: 64px;
}

.heroinfo {
    display: flex;
    flex-direction: column;
    width: 500px;
}

img {
    width: 200px;
}

.bigimg {
    width: 500px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 32px;
}

button {
    width: 100px;
    border: 6px solid #3882f6;
    border-radius: 6px;
    color: white;
}

a {
    all: unset;
}

/*The below CSS is for the information section*/

.random {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 200px;
    padding: 16px;
    text-align: center;
}

h3 {
    text-align: center;
}

/*The below CSS is for the quote section*/

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 100px 200px;
}

.thor {
    font-size: 24px;
    font-weight: 900;
}

/*The below CSS is for the action section */

.action {
    background-color:#3882f6;
    border-radius: 8px;
    margin: 100px 200px;
    padding: 16px;
    display: flex;
    color:white;
    justify-content: space-around;
    align-items: center;
}

.action button {
    border: 2px solid white;
    height: 30px;
    width: 100px;
    font-weight: 900;
    flex-basis: 1 1 content;
}

.actionleft {
    display: flex;
    flex-direction: column;
}

/*The below CSS is for the footer section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 32px;
}